  /*------------- Whole Document---------------- */

body {
    font-size: 18px;
}

/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 20px 40px 20px;
  background-image: url("files/fiulogo_square.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}